.navContainer {
  background-color: rgba(23, 23, 32, 1);
  height: 76px !important;
  width: 100%;
  display: flex !important;
  justify-content: flex-start !important;
}

.title {
  color: rgba(255, 255, 255, 1);
  margin: 8px 0 0 10px;
  font-weight: 800;
  letter-spacing: 0.1em;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  text-shadow: 0 3px 4px rgba(81, 81, 88, 1);
}

.linkContainer {
  width: 190px;
  height: 60px !important;
  display: flex;
  margin: 7px 0 0 16px;
}

.link {
  width: 190px;
  height: 60px;
  border-radius: 22px;
  box-shadow: 0 8px 15px 0px rgba(46, 35, 42, 1);
  display: flex;
}

.ownerContainer {
  display: flex;
  flex-direction: column;
}

.description {
  text-decoration: dashed;
  color: rgba(184, 170, 170, 1);
  margin: 2px 0 0 18px;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-decoration: none;
}

.ownerName {
  text-decoration: dashed;
  color: rgba(255, 255, 255, 1);
  margin: 2px 0 0 16px;

  font-size: 24px;
  letter-spacing: 0.1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-decoration: none;
}

.image {
  width: 53px;
  height: 42px;
  margin: 10px 0 0 7px;
}
