.commonButton {
    margin: 5px;
}

.videos-banner {
    margin-top: 25px;
}


.commonButton {
    border: 0;
    font-size: 14px;
    border-radius: 7px;
    padding: 7px 10px 7px 10px;
    font-weight: bold;
    background-color: #f1f1f1 ;
}


.commonButton:focus {
    background-color: black;
    color: white;
}

.textUnderVideo {
    display: flex;
}

.channelLogo {
    border-radius: 100px;
    width: 36px;
    margin: 10px;
}

.videoOggy {
    width: 333px;
    height: 187px;
    border-radius: 15px;
}


@media (min-width: 30px) {
    .videos-banner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
        width: auto;
    }

}