.navi {
  display: flex;
  justify-content: space-between;
}

.exp {
  display: flex;
  flex-direction: row;
}

#checkbox {
  position: relative;
  appearance: none;
  outline: none;
  width: 60px;
  height: 40px;
  border-radius: 20px;
  background: #c3c3c3;
  box-shadow: none;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  margin: 8px;
}

#checkbox:checked {
  background: #3a184e;
}

#checkbox::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: inherit;
  width: 36px;
  height: 36px;
  background: #ffff00;
  transition: inherit;
}

#checkbox::after {
  content: "";
  position: absolute;
  top: -6px;
  right: calc(100% + 36px);
  border-radius: inherit;
  width: 36px;
  height: 36px;
  background: #c3c3c3;
  transition: inherit;
}

#checkbox:checked::before {
  left: calc(100% - 38px);
  background: #cccccc;
}

#checkbox:checked::after {
  right: 12px;
  background: #3a184e;
}
.searchMagnifying {
  width: 24px;
}

.searchButton {
  width: 64px;
  height: 40px;
  padding: 1px 6px;
  border-radius: 0 40px 40px 0;
  color: #f8f8f8;
  border-width: 0.1px;
  border-style: solid;
}

@media (min-width: 320px) {
  .exp {
    margin: 10px;
  }

  .mainLogoContainer {
    padding: 18px 14px 18px 16px;
  }

  .searchInput {
    width: 358px;
    height: 40px;
    margin: 0px 0px 0px 32px;
    padding: 0px 4px 0px 16px;
    border-radius: 40px 0 0 40px;
    border-width: 0.1px;
  }

  .searchMagnifying {
    width: 24px;
  }

  .searchButton {
    width: 64px;
    height: 40px;
    padding: 1px 6px;
    border-radius: 0 40px 40px 0;
    color: #f8f8f8;
    border-width: 0.1px;
  }
}

@media (min-width: 1313px) {
  .mainLogoContainer {
    padding: 18px 14px 18px 30px;
  }
  .mainLogo {
    width: 4px;
  }
}
