:root {
  --background-color-light: aliceblue;
  --background-color-dark: black;
}

.body-light {
  background-color: var(--background);
}

.body-dark {
  background-color: var(--background-color-dark);
}

.body-dark * {
  color: white;
}

.body-dark input {
  border: #9b9b9b;
}

.body-dark .searchInput {
  background-color: black;
  border: 1px solid ;
  border-color: #3c3c3c;
}

.body-dark .searchButton {
  background-color: rgb(9.41%, 9.41%, 9.41%);
  border-width: 1px 1px 1px 0;
  border-color: #3c3c3c ;
}

.body-dark .searchMicroButton {
    background-color: rgb(9.41%, 9.41%, 9.41%);
    
}
